<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<link inline rel='stylesheet' href='bundle.css' />

	{{> base/font}}


	<script inline src='head.js'></script>

	{{> base/analytics }}

</head>

<body>

	<main id='content'>

		{{> base/header }}

		{{> story/intro }}
		{{> story/credits}}

		{{> story/ranking}}
		{{> story/map}}
		{{> story/lookback}}
		{{> story/smallmult}}
		{{> story/votingpattern}}


	</main>

	{{> base/footer }}


	<script src='https://d3js.org/d3.v5.js'></script>
	<script src='main.js?version={{timestamp}}' async></script>
</body>

</html>