/* CUSTOM STORY STYLE */

body
    background #0D1730
    color #ffffff
    font-family "Rubik"

h1, h2, .intro__byline, time
    font-family "Noto Serif"

h1
    font-size 4em

.intro__dek
    max-width: 50rem;
    font-size 1.3em

.intro__byline a
    color #B18F6D

/* RANKING */
#ranking-container
    width 100%

svg#ranking text
    fill #ffffff

/* RANKING BEFORE FINAL*/
.label-tele, .label-overall, .connection
    opacity 0.2

/*MAP*/
/*BUTTONS*/
/*html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}*/

.stv-radio-buttons-wrapper {
  clear: both;
  display: inline-block;
}

.stv-radio-button {
    position: absolute;
    visibility: hidden;
  
  & + label {
    float: left;
    padding: .3em 0.5em;
    cursor: pointer;
    border: 1px solid #28608f;
    margin-right: -1px;
    color: #fff;
    background-color: #428bca;
    
    &:first-of-type {
      border-radius: .2em 0 0 .2em;
    }
    
    &:last-of-type {
      border-radius: 0 .2em .2em 0;
    }
  }
  
  &:checked + label {
    background-color: #3277b3;
  }
}

#map-container svg, #scatteryearly-container svg, #votingpattern-container svg
    display block
    margin auto

.country
    stroke-width 1
    stroke #868A97

.map-label
    font-size 0.7em
    fill white
    text-anchor middle

/* SCATTERPLOT*/
#scatter-container svg
    display block
    margin auto

.circle-mean
    fill #ffffff
    opacity 0.7

.circle-year
    fill #ffffff
    opacity 0.5

.circle-year.highlight
    animation-name pop
    animation-duration 1s
    animation-fill-mode forwards
    animation-timing-function ease-out

.circle-pattern
    fill #ffffff
    opacity 0.7

@keyframes pop {
  from {
    opacity: 0.5
    r: 2
  }
  to {
    opacity: 1
    r: 8
  }
}

.axis line
    opacity 0.1
.axis path
    visibility hidden
.axis text
    font-family Rubik
.axis-title
    fill #ffffff
    font-size 14px
    font-family Rubik
.x.axis-title 
    text-anchor end

.fourtyfive
    stroke #ffffff
    stroke-width 2
    opacity 0.5

.scatter-label
    text-anchor middle
    fill #ffffff
    font-size 10px
    opacity 0.8
