/* CUSTOM STORY STYLE */

body
    background #0D1730
    color #ffffff
    font-family "Rubik"

h1, h2, .intro__byline, time
    font-family "Noto Serif"

h1
    font-size 4em

.intro__dek
    max-width: 50rem;
    font-size 1.3em

.intro__byline a
    color #B18F6D

/* RANKING */
svg#ranking text
    fill #ffffff

/* RANKING BEFORE FINAL*/
.label-tele, .label-overall, .connection
    opacity 0.2

