/* CUSTOM STORY STYLE */

body
    background #0D1730
    color #ffffff
    font-family "Rubik"

h1, h2, .intro__byline, time
    font-family "Noto Serif"

h1
    font-size 4em
    text-shadow:  0px 0px 10px #000000

.intro
    background-image url("assets/images/star2.png")
    background-position center
    background-repeat no-repeat
    background-size: cover

.intro__dek
    max-width 50rem
    font-size 1.5em
    text-shadow: 0px 0px 2px #000000

.intro__byline, .intro__time
    color #ffffff
    font-family Roboto
    font-weight 100

.intro__time
    margin-top 0
    margin-bottom 3rem

.intro__byline a
    color #ffffff
    text-decoration underline
    text-decoration-color #ffffff

.intro__logo
    margin auto
    text-align center

/* RANKING */
#ranking-container
    width 100%

svg#ranking text
    fill #ffffff

/* RANKING BEFORE FINAL*/
.label-tele, .label-overall, .connection
    opacity 1

/*MAP*/
/*BUTTONS*/

#map-controls
    display table
    margin-top 2em
    margin-bottom 2em

.stv-radio-buttons-wrapper {
    clear: both;
    display: table-cell;
    vertical-align: middle;
    padding-left 6px
    padding-right 6px
}

.map-control-text
    display inline-block
    vertical-align middle
    display table-cell
    vertical-align middle

.stv-radio-button {
    position: absolute;
    visibility: hidden;
  
  & + label {
    font-size: 0.8em;
    /*float: left;*/
    display: block;
    padding: .3em 0.5em;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    margin-right: -1px;
    color: #fff;
    background-color: #B29A81;
    text-align: center;
    box-shadow: 2px 4px 6px rgba(255, 255, 255, 0.5);
    
    &:first-of-type {
      border-radius: 0.2em .2em 0 0;
    }
    
    &:last-of-type {
      border-radius: 0 0 .2em .2em;
    }
  }
  
  &:checked + label {
    background-color: transparent;
  }
}

/*Legend*/
#map-legend {
  display: table;
  margin: 0 auto;
}

.legend-item {
  font-family: "Roboto", serif;
  padding-top: 6px;
  padding-bottom: 6px;
  float: left;
  width: 36px;
  border: 1px white solid;
  border-right-style: none;
  text-align: center;
}
.legend-item.twelve {
    color: #555555;
  }

@media (max-width: 768px){
  .legend-item {
    width: 26px;
    border: 1px white solid;
  }
  .legend-item.twelve {
    border-right: 2px white solid;
  }
}

#map-container svg, #scatteryearly-container svg, #votingpattern-container svg
    display block
    margin auto

.country
    stroke-width 1
    stroke #868A97
    transition stroke 5s linear
    
.country.highlight
    stroke-width 2
    stroke #ffffff
    transition stroke 5s linear

.map-label
    font-size 0.7em
    fill white

/* SCATTERPLOT*/
#scatter-container svg
    display block
    margin auto

.circle-mean
    fill #ffffff
    opacity 0.7

.circle-year
    fill #ffffff
    opacity 0.5

.circle-year.highlight
    animation-name pop
    animation-duration 1s
    animation-fill-mode forwards
    animation-timing-function ease-out

.circle-pattern
    fill #ffffff
    opacity 0.7

@keyframes pop {
  from {
    opacity: 0.5
    r: 2
  }
  to {
    opacity: 1
    r: 8
  }
}

.axis line
    opacity 0.1
.axis path
    visibility hidden
.axis text
    font-family Rubik
.axis-title
    fill #ffffff
    font-size 14px
    font-family Rubik
.x.axis-title 
    text-anchor end

.fourtyfive
    stroke #ffffff
    stroke-width 2
    opacity 0.5

.scatter-label
    text-anchor middle
    fill #ffffff
    font-size 10px
    opacity 0.8
