<footer class='pudding-footer'>
	<section>
		<h2>Methodology</h2>
		<p>{{doc.methodology1}}</p>
		<p>{{doc.methodology2}}</p>
		<p>{{doc.methodology3}}</p>
	</section>
	<section class="team">
		<h2>Team</h2>
		<p>Story, design and development: <a href="https://twitter.com/maartenzam">Maarten Lambrechts</a></p>
		<p>Data gathering and editing: <a href="https://twitter.com/beckypinners">Rebecca Pinnington</a></p>
		<p>Art direction: <a href="Alberto Cairo">Alberto Cairo</a></p>
	</section>
</footer>