<section>
    <h2>A look back</h2>
    <p>{{{doc.lookback1}}}</p>
    <p>{{{doc.lookback2}}}</p>
    <p>{{{doc.lookback3}}}</p>
    <h2>Average televoting search activity points, 2004-2018</h2>
</section>
<div id="scatter-container">
    <svg id="scatter"></svg>
</div>
    