<section>
    <p>{{{doc.mapintro}}}</p>
    <h2>Search and televoting mapped</h2>
    <div id="map-controls">
        <div class="map-control-block">
            <div class="map-control-text">
                Show
            </div>
            <div class="stv-radio-buttons-wrapper">
	            <input type="radio" class="stv-radio-button searchteleswitch" name="searchteleswitch" value="search" id="button5" checked />
	            <label for="button5">search</label>
	            <input type="radio" class="stv-radio-button searchteleswitch" name="searchteleswitch" value="tele" id="button6"/>
	            <label for="button6">televoting</label>
            </div>
            <div class="map-control-text">
                points
            </div>
        </div>
        <div class="map-control-block">
            <div class="stv-radio-buttons-wrapper">
	            <input type="radio" class="stv-radio-button fromtoswitch" name="fromtoswitch" value="from" id="button3" />
	            <label for="button3">from</label>
	            <input type="radio" class="stv-radio-button fromtoswitch" name="fromtoswitch" value="to" id="button4" checked/>
	            <label for="button4">to</label>
            </div>
            <div class="stv-radio-buttons-wrapper">
                <select id="countrylist">
                </select>
            </div>
        </div>
        <div class="map-control-block">
            <div class="map-control-text">
                as a
            </div>
            <div class="stv-radio-buttons-wrapper mapswitch-wrapper">
	            <input type="radio" class="stv-radio-button mapswitch" name="mapswitch" value="geo" id="button1" checked />
	            <label for="button1">map</label>
	            <input type="radio" class="stv-radio-button mapswitch" name="mapswitch" value="rects" id="button2" />
	            <label for="button2">grid</label>
            </div>
        </div>
    </div>
    <div id="map-legend">
        <div class="legend-item">1</div>
        <div class="legend-item">2</div>
        <div class="legend-item">3</div>
        <div class="legend-item">4</div>
        <div class="legend-item">5</div>
        <div class="legend-item">6</div>
        <div class="legend-item">7</div>
        <div class="legend-item">8</div>
        <div class="legend-item ten">10</div>
        <div class="legend-item twelve">12</div>
    </div>
</section>
<div id="map-container">
    <svg id="map"></svg>
</div>