<section>
    <p class="introduction">{{{doc.generalintro}}}</p>
    <h2>The ranking</h2>
    <p>{{{doc.rankingintro}}}</p>
    <div id="ranking-container">
        <svg id="ranking"></svg>
    </div>
</section>
<section>
    <!--p class="footnote">{{{doc.rankingnote}}}</p-->
    <p>{{{doc.rankingcomment}}}</p>
</section>