<section>
    <p>{{doc.smallmultintro}}</p>
    <p>[SMALL MULTIPLES]</p>
    <div id="slider"></div>
    <div id="smallmult-container">
        <svg id="smallmult"></svg>
    </div>
</section>
<section>
    <p>{{doc.smallmultcomment}}</p>
</section>