<section>
    <p>{{doc.smallmultintro}}</p>
    <h2>Searching vs voting by year</h2>
    <div id="slider"></div>
</section>
<div id="scatteryearly-container">
    <svg id="scatteryearly"></svg>
</div>
<section>
    <p>{{doc.smallmultcomment}}</p>
</section>