<section>
    <p>{{{doc.smallmultintro}}}</p>
    <h2>Searching vs voting by year</h2>
    <div id="slider-container">
        <input id="slider" type="range" min="2004" max="2019" step="1" value="2019">
    </div>
</section>
<div id="scatteryearly-container">
    <svg id="scatteryearly"></svg>
</div>
<section>
    <p>{{{doc.smallmultcomment}}}</p>
</section>