<section>
    <h2>So who votes for who?</h2>
    <p>{{doc.votingpatternintro}}</p>
    <p>[SCATTERPLOT SHOWING VOTING PATTERNS]</p>
    <div id="votingpattern-container">
        <svg id="votingpattern"></svg>
    </div>
</section>
<section>
    <p>{{doc.votingpatterncomment1}}</p>
    <p>{{doc.votingpatterncomment2}}</p>
</section>