<section>
    <h2>So who votes for who?</h2>
    <p>{{doc.votingpatternintro}}</p>
    <h2>Who searches/votes for who?</h2>
</section>
<div id="votingpattern-container">
    <svg id="votingpattern"></svg>
</div>
<section>
    <p>{{doc.votingpatterncomment1}}</p>
    <p>{{doc.votingpatterncomment2}}</p>
</section>